body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right:2%;
}
.half-width img{
    width: 80%;
}
#img-2{
    width: 90%;
   
}
.button{
    background-image: linear-gradient(orange ,salmon);
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}